/* General CSS Styles */

* {
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}

.button-primary {
    color: #FFFFFF;
    background-color: #E55473;
    padding: 20px 43px;
    border: none;
    border-radius: 8px;
}

.button-primary:hover {
    background-color: #c62346;
}

.text-primary-color {
    color: rgba(39, 39, 39, 0.60);
}

/* General CSS Styles */


/* Header Section CSS Style */

.header-container {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.header-content {
    margin-right: 50px;
}

.header-content>h1 {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

.header-content>button {
    margin-top: 32px;
}

.header-img {
    margin-left: 50px;
}

.header-img>img {
    width: 80%;
    height: 80%;
}

/* Header Section CSS Style */

/* Feature Flower Section CSS Styles */

.feature-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 150px 0px;
}

.feature-content {
    margin-bottom: 80px;
}

.feature-content>h1 {
    color: #272727;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}


.flowers {
    display: flex;
}

.flower-tree {
    padding: 20px;
}

.flower-tree>p {
    color: #272727;
    margin-top: 10px;
    text-decoration: underline;
    font-weight: 700;
    font-size: 24px;
}

.flower-image {
    padding: 45px 45px 0px;
    margin-right: 30px;
    border-radius: 300px 300px 0 0;
    width: 314px;
    height: 471px;
}

#flower-1 {
    background-color: rgba(167, 33, 98, 0.15);
}

#flower-2 {
    background-color: rgba(5, 151, 160, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

#flower-3 {
    background-color: rgba(71, 125, 17, 0.15);
}

/* Feature Flower Section CSS Styles */

/* Support and Delivery Section CSS Styles */

.support-section {
    width: 80%;
    margin: 20px auto 50px;
}

.support-container {
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
}

.support-content {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.support-content>p {
    font-size: 24px;
    color: rgba(39, 39, 39, 0.80);
    margin-top: 24px;
}

/* Support and Delivery Section CSS Styles */

/* Video Sectoin CSS Styles */

.video-section {
    background-color: black;
    margin: 50px 0px;
}

.video-container {
    padding: 100px 0px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-content {
    margin-right: 50px;
    color: white;
    text-align: center;
}

.video-content>iframe {
    box-shadow: 0px 0px 40px #ffffff74;
}

.video-content>h2 {
    color: white;
    font-size: 40px;
}

#red-color {
    color: #ff0037;
}



/* Video Sectoin CSS Styles */